body {
    background-color: rgb(185, 140, 51);
    font-size: 4vmin;
    text-align: center;
    color: rgb(73, 43, 4);
    margin: 0;
}

img {
    height: auto;
    width: 75vmin;
}

ul,
ol {
    text-align: left;
}

a {
    color: rgb(23, 68, 69);
    text-decoration: none;
}

a:hover {
    color: rgb(54, 113, 115);
    text-underline-offset: 4px;
}

.card .menuItem {
    text-decoration: underline wavy;
    text-underline-offset: 2px;
}

.card a {
    text-decoration: underline dashed;
    text-underline-offset: 2px;
}

.menuItemStar {
    font-size: x-large;
    color: rgb(73, 43, 4);
    margin: 5px;
}

.panel {
    background-color: rgb(109, 137, 31);
    margin: 4vmin;
    padding: 4vmin;
    min-height: 100vh;
}

.card {
    margin: 4vmin 0;
    padding: 4vmin 0;
    background-color: rgb(134, 105, 16);
}

.card p {
    margin: 0 4vmin;
    text-align: left;
}

.card h3,
.card h4 {
    text-decoration: underline double;
}
